         *{
                box-sizing: border-box;
            }
            html, body {
                padding: 0;
                margin: 0;
                font-family: verdana, arial, sans-serif;
                
            }
 
            body {
                font-size: 1.1em;
                padding: 1em;
                display: flex;
                flex-direction: column;
                color: #000000;
                background-color: #bdf2f8;
            }
 
            main {
                display: flex;
                flex-direction: column;
            }
 
            article {
                background-color: #dde7ec;
                flex: 2 2 12em;
                padding: 1em;
                border: 1px #6e88f8 solid;
                border-radius: 10px;
            }
 
            nav, aside {
                flex: 1;
                background-color: #bdf2f8;
                padding:20px;
            }
 
            nav {
                order: -1;
            }
             
            header, footer {
                flex: 0 0 5em;
                background-color: #729af1;
                color: #ffffff;
                padding:20px;
                border-radius: 10px;    
            }
             
            @media screen and (min-width: 600px) {
                 
                body{
                    min-height: 100vh;
                }
                main {
                    flex-direction: row;
                    min-height: 100%;
                    flex: 1 1 auto;
                }
            }
            /*  стилизация элемента details */
                details > summary {
                    padding: 5px;
                    background-color: #bdf2f8;
                    color: #333;
                    border: 1px #051a79 solid;
                    border-radius: 10px;
                    cursor: pointer;
                    list-style: none;
             }
                summary:before {
                    content: "+";
                    font-size: 20px;
                    font-weight: bold;
                    margin: -5px 5px 0 0;
                }
                details > div {
                    border: 1px #051a79 solid;
                    border-radius: 10px;
                    padding: 10px;
                    background-color: #bdf2f8;
                }
                details[open] > summary:before {
                    color:#333; 
                    background-color:#bdf2f8;
                    content:"-"
                }
                .game {
                    /* ширина игровой области */
                    width: 600px;
                    /* высота игровой области */
                    height: 200px;
                    /* рамка серого цвета и отступы вокруг неё */
                    border: 1px solid rgb(122, 122, 122);
                    /* автоматические отступы  */
                    margin: auto;
                  }
                
                   #dino {
                    /* ширина и высота динозаврика */
                    width: 50px;
                    height: 50px;
                    /* путь к изображению динозаврика */
                    background-image: url(/img/trex.png);
                    /* ширина и высота подложки */
                    background-size: 50px 50px;
                    /* относительное позиционирование */
                    position: relative;
                    /* отступ сверху */
                    top: 150px;
                  }  
                  
/* класс анимации прыжка */
.jump {
    animation: jump 0.3s linear;
  }
  
  /* 5 ключевых кадров для анимации прыжка */
  @keyframes jump {
    0% {
      /* начальная позиция */
      top: 150px;
    }
  
    30% {
      /* начало прыжка */
      top: 130px; 
    }
  
    50% {
      /* самая высокая точка прыжка */
      top: 80px; 
    }
  
    80% {
      /* начало спуска */
      top: 130px; 
    }
  
    100% {
      /* возврат в начальную позицию */
      top: 150px; 
    }
  }
          
        